<template>
    <v-app>
        <v-toolbar app dense>
            <v-btn-toggle class="transparent">
                <v-tooltip bottom>
                    <v-btn :value="1" slot="activator" color="teal darken-4" flat @click="linkAutor()">
                        <v-icon>person</v-icon>
                    </v-btn>
                    <span>Autor</span>
                </v-tooltip>
            </v-btn-toggle>

            <v-btn-toggle class="transparent pr-3">
                <v-tooltip v-if="verificarEditar" bottom>
                    <v-btn :value="2" slot="activator" color="primary" flat @click="habilitarEditar()">
                        <v-icon>edit</v-icon>
                    </v-btn>
                    <span>Edição</span>
                </v-tooltip>
                <v-tooltip v-else bottom>
                    <v-btn :value="2" slot="activator" color="red darken-4" flat @click="desabilitarEditar()">
                        <v-icon>visibility</v-icon>
                    </v-btn>
                    <span>Vizualização</span>
                </v-tooltip>
            </v-btn-toggle>

            <v-divider vertical></v-divider>

            <v-overflow-btn v-model="fonte" @change="execCommandWithArg('fontName', fonte)" :items="fonts"
                            label="Fonte" hide-details class="pa-0">
            </v-overflow-btn>

            <v-divider vertical></v-divider>

            <v-overflow-btn v-model="tamanho" :items="tamanhos" label="Tamanho"
                            @change="execCommandWithArg('fontSize', tamanho)" hide-details class="pa-0" overflow>
            </v-overflow-btn>

            <v-divider vertical></v-divider>

            <v-btn-toggle class="transparent" multiple>
                <v-btn :value="1" flat @click="execCmd('bold')">
                    <v-icon>format_bold</v-icon>
                </v-btn>

                <v-btn :value="2" flat @click="execCmd('italic')">
                    <v-icon>format_italic</v-icon>
                </v-btn>

                <v-btn :value="3" flat @click="execCmd('underline')">
                    <v-icon>format_underlined</v-icon>
                </v-btn>
            </v-btn-toggle>

            <v-divider vertical></v-divider>

            <v-btn-toggle class="transparent">
                <v-btn :value="1" flat @click="execCmd('justifyLeft')">
                    <v-icon>format_align_left</v-icon>
                </v-btn>

                <v-btn :value="2" flat @click="execCmd('justifyCenter')">
                    <v-icon>format_align_center</v-icon>
                </v-btn>

                <v-btn :value="3" flat @click="execCmd('justifyRight')">
                    <v-icon>format_align_right</v-icon>
                </v-btn>

                <v-btn :value="4" flat @click="execCmd('justifyFull')">
                    <v-icon>format_align_justify</v-icon>
                </v-btn>
            </v-btn-toggle>

            <v-divider vertical></v-divider>

            <v-btn-toggle class="transparent">
                <v-btn :value="1" flat @click="execCmd('indent')">
                    <v-icon>format_indent_increase</v-icon>
                </v-btn>

                <v-btn :value="2" flat @click="execCmd('outdent')">
                    <v-icon>format_indent_decrease</v-icon>
                </v-btn>
            </v-btn-toggle>

            <v-divider vertical></v-divider>

            <v-btn-toggle class="transparent">
                <v-btn :value="1" flat @click="execCmd('insertOrderedList')">
                    <v-icon>format_list_numbered</v-icon>
                </v-btn>

                <v-btn :value="2" flat @click="execCmd('insertUnorderedList')">
                    <v-icon>format_list_bulleted</v-icon>
                </v-btn>
            </v-btn-toggle>

            <v-divider vertical></v-divider>

            <v-btn-toggle class="transparent">
                <v-btn :value="1" flat v-model="link" @click="criarLink">
                    <v-icon>link</v-icon>
                </v-btn>
            </v-btn-toggle>

            <v-divider vertical></v-divider>

            <v-btn-toggle class="transparent">
                <v-btn :value="1" flat @click="zoomIn">
                    <v-icon>zoom_in</v-icon>
                </v-btn>
                <v-btn :value="2" flat @click="zoomOut">
                    <v-icon>zoom_out</v-icon>
                </v-btn>
            </v-btn-toggle>

            <v-divider vertical></v-divider>

            <v-btn-toggle class="transparent">
                <v-btn flat @click="printSelecao">
                    <v-icon>code</v-icon>
                </v-btn>
                <v-btn flat @click="gerarPdf">
                    <v-icon>picture_as_pdf</v-icon>
                </v-btn>
            </v-btn-toggle>
        </v-toolbar>
        <v-container grid-list-md text-xs-center>
            <v-layout>
                <v-flex xs8 offset-xs2 sm10 offset-sm1 md10 offset-md1 lg10 offset-lg1>
                    <div class="area-editor" :style="pageZoom">
                        <iframe name="areaEditor" class="iframe-area-editor"></iframe>
                    </div>
                </v-flex>
            </v-layout>
        </v-container>
    </v-app>
</template>

<script>
    import axios from 'axios/index';

    const INCREASE_ZOOM_BY = 0.02;
    const INCREASE_MT_BY = 15;
    const MAX_ZOOM = 1.02;
    const MIN_ZOOM = 0.8;
    const URL_API = 'http://localhost:3000/api';

    export default {
        name: "Toolbar",
        props: {
            initialZoom: {
                default: 0.95
            },
            initialMarginTop: {
                default: 70
            }
        },
        data() {
            return {
                editar: false,
                fonts: [],
                tamanhos: [1, 2, 3, 4, 5, 6, 7],
                tamanho: 3,
                fonte: 'Times New Roman',
                link: undefined,
                zoom: this.initialZoom,
                mt: this.initialMarginTop
            }
        },
        computed: {
            verificarEditar() {
                return this.editar
            },
            pageZoom() {
                return `margin-top: ${this.mt}px; transform: scale(${this.zoom}) `
            }
        },
        mounted() {
            this.habilitarModoEdicao();
            this.buscarFontes()
        },
        methods: {
            buscarFontes() {
                axios.get(`${URL_API}/fontes`).then((resp) => {
                    this.fonts = Object.keys(resp.data)
                })
            },
            criarLink() {
                var link = prompt('Digite seu link', 'http://');
                if (link) {
                    this.execCommandWithArg('Link', 'createLink', link)
                }
            },
            desabilitarEditar() {
                this.desabilitarModoEdicao();
                this.editar = true
            },
            desabilitarModoEdicao() {
                areaEditor.document.designMode = 'Off'
            },
            execCmd(command) {
                areaEditor.document.execCommand(command, false, null)
            },
            execCommandWithArg(command, arg) {
                areaEditor.document.execCommand(command, false, arg)
            },
            gerarPdf() {
                const iframe = areaEditor.document.getElementsByTagName('body');
                const nome = prompt("Entre com o nome do seu arquivo:");
                const file = {
                    html: iframe[0].outerHTML
                };

                if (nome) {
                    axios.post(`${URL_API}/pdf`, {file}).then((res) => {
                        const base64 = res.data;
                        this.visualizarPdf(base64, nome)
                    })
                }
            },
            habilitarModoEdicao() {
                areaEditor.document.designMode = 'On'
            },
            habilitarEditar() {
                this.habilitarModoEdicao();
                this.editar = false
            },
            linkAutor() {
                window.open('https://www.linkedin.com/in/maycon-tanii-59595b28/', '_blank')
            },
            printSelecao() {
                const selecao = areaEditor.getSelection();
                const iframe = areaEditor.document.getElementsByTagName('body');

                if (selecao.anchorNode) {
                    alert(iframe[0].outerHTML)
                }
            },
            visualizarPdf(base64, nome) {
                var save = document.createElement('a');
                save.href = 'data:application/pdf;base64,' + base64;
                save.download = nome;
                save.target = '_blank';
                document.body.appendChild(save);
                save.click();
                document.body.removeChild(save)

            },
            zoomIn() {
                if (this.zoom < MAX_ZOOM) {
                    this.mt += INCREASE_MT_BY;
                    this.zoom += INCREASE_ZOOM_BY
                }
            },
            zoomOut() {
                if (this.zoom > MIN_ZOOM) {
                    this.mt -= INCREASE_MT_BY;
                    this.zoom -= INCREASE_ZOOM_BY
                }
            }
        }
    }
</script>

<style lang="stylus">
    .app
        background #f4f4f4

    .area-editor
        background #ffffff
        margin-top 60px
        height 1200px
        width 100%
        padding 3em
        border unset
        box-shadow 0px 0px 1px 0px
        border-radius 1px

    .iframe-area-editor
        background #ffffff
        height 100%
        width 100%
        border unset
</style>